:root {
  --primary-clr: #e8b;
  --primary-rgb-clr: 255, 255, 255;
  --secondary-clr: #ff8700;
  --section-padding: 100px 0;
  --black-btn-clr: #3a3a3a;
  --black-clr-1: #3a3a3a;
  --anker-hover-clr: #3a3a3a;
}

.primary-bg {
  background: var(--primary-clr) !important;
}

.primary-text {
  color: var(--primary-clr) !important;
}

.primary-anchor {
  color: var(--primary-clr) !important;
}

.primary-anchor:hover {
  color: var(--anker-hover-clr) !important;
}

.secondary-anchor {
  color: var(--secondary-clr) !important;
}

.secondary-anchor:hover {
  color: var(--primary-clr) !important;
}

.secodary-bg {
  background: var(--secondary-clr) !important;
}

.seconday-text {
  color: var(--secondary-clr) !important;
}

.active-btn {
  background: var(--primary-clr) !important;
  color: white !important;
}

.active-text {
  color: var(--primary-clr) !important;
}

.wrap-container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) {
  .wrap-container {
    max-width: calc(100% - 20px);
  }
}

@media screen and (min-width: 576px) {
  .wrap-container {
    max-width: calc(100% - 100px);
  }
}

@media screen and (min-width: 992px) {
  .wrap-container {
    max-width: calc(100% - 120px);
  }
}

@media screen and (min-width: 1200px) {
  .wrap-container {
    max-width: calc(100% - 120px);
  }
}

@media screen and (min-width: 1440px) {
  .wrap-container {
    max-width: 1440px;
  }
}

.res-nav-item .nav-item .nav-link {
  padding: 10px 1.2vw !important;
}

.primary-btn, .primary-outline-btn, .secondary-btn, .secondary-outline-btn, .black-btn, .black-outline-btn {
  padding: 13px 15px;
  background: var(--primary-clr);
  color: white;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border: 1px solid var(--primary-clr);
}

.primary-btn i, .primary-outline-btn i, .secondary-btn i, .secondary-outline-btn i, .black-btn i, .black-outline-btn i {
  font-size: 20px;
}

.primary-btn:hover, .primary-outline-btn:hover, .secondary-btn:hover, .secondary-outline-btn:hover, .black-btn:hover, .black-outline-btn:hover {
  color: white;
  border: 1px solid var(--black-btn-clr);
  background: var(--black-btn-clr);
}

.right-icon i {
  margin-right: -7px;
  margin-left: 7px;
}

.left-icon i {
  margin-left: -7px;
  margin-right: 7px;
}

button {
  transition: 0.5s !important;
  -webkit-transition: 0.5s !important;
  -moz-transition: 0.5s !important;
  -ms-transition: 0.5s !important;
  -o-transition: 0.5s !important;
}

.primary-outline-btn {
  background: transparent;
  border: 1px solid var(--primary-clr);
  color: var(--primary-clr);
}

.primary-outline-btn:hover {
  background: var(--primary-clr);
  border: 1px solid var(--primary-clr);
}

.secondary-btn {
  background: var(--secondary-clr);
}

.secondary-outline-btn {
  background: transparent;
  border: 1px solid var(--secondary-clr);
  color: var(--secondary-clr);
}

.secondary-outline-btn:hover {
  background: var(--secondary-clr);
  border: 1px solid var(--secondary-clr);
}

.black-btn {
  border: 1px solid var(--black-btn-clr);
  background: var(--black-btn-clr);
}

.black-btn:hover {
  border: 1px solid var(--primary-clr);
  background: var(--primary-clr);
}

.black-outline-btn {
  background: transparent;
  color: var(--black-btn-clr);
  border: 1px solid var(--black-btn-clr);
}

.black-outline-btn:hover {
  color: white;
  background: var(--black-btn-clr);
}

.checkbox-btn {
  position: relative;
  overflow: hidden;
}

.checkbox-btn input[type=radio] {
  -webkit-appearance: none;
  border: none !important;
  margin: auto;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
  left: 0px;
  width: 100%;
  height: 100%;
}

.checkbox-btn input[type=radio]:checked ~ label {
  background: var(--primary-clr);
  border: 1px solid var(--primary-clr);
  color: white;
}

.checkbox-btn label {
  cursor: pointer;
  color: #4F4F4F;
  font-weight: 400;
  padding: 10px 15px;
  border: 1px solid #EEEEEE;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  text-align: center;
  width: 100%;
  font-size: 14px;
}

.checkbox-btn label:hover {
  background: var(--primary-clr);
  color: white;
}

.extra-btn-padding-20 {
  padding: 13px 20px;
}

.extra-btn-padding-25 {
  padding: 13px 25px;
}

.extra-btn-padding-30 {
  padding: 13px 30px;
}

.extra-btn-padding-35 {
  padding: 13px 35px;
}

.extra-btn-padding-40 {
  padding: 13px 40px;
}

:root {
  --input-padding: 10px;
}

.column-spacing [class*=col-] > div {
  margin: 10px;
}

.content-spacing * + * {
  margin-top: 2rem;
}

.collapsing {
  height: 0;
  overflow: hidden;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.hb-line {
  width: 50px;
  height: 3px;
  background: var(--primary-clr);
  display: block;
  margin-block: 9px;
}

label {
  margin-bottom: 8px;
  font-weight: 500;
}

input,
select,
textarea {
  min-height: 45px;
}

select {
  cursor: pointer;
}

.select-box {
  width: 100%;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

.form-control,
.select-box {
  padding: var(--input-padding);
  background: white;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #edf0f9;
}

.form-control:focus,
.select-box:focus {
  color: #71748d;
  background-color: #fff;
  border-color: var(--primary-clr);
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-control:focus::-webkit-input-placeholder,
.select-box:focus::-webkit-input-placeholder {
  color: var(--primary-clr);
}

.form-control:focus:-ms-input-placeholder,
.select-box:focus:-ms-input-placeholder {
  color: var(--primary-clr);
}

.form-control:focus::-ms-input-placeholder,
.select-box:focus::-ms-input-placeholder {
  color: var(--primary-clr);
}

.form-control:focus::placeholder,
.select-box:focus::placeholder {
  color: var(--primary-clr);
}

.form-control:focus i,
.select-box:focus i {
  color: var(--primary-clr);
}

.disc-items li {
  list-style: disc;
  margin-left: 1.5rem;
}

.decimal-items li {
  list-style: decimal;
  margin-left: 1.5rem;
}

.owl-arrow-top-right {
  position: relative;
}

.owl-arrow-top-right .owl-nav {
  position: absolute;
  top: 0;
  right: 10px;
}

.owl-arrow-top-right .owl-nav button {
  color: var(--primary-clr) !important;
  background: white !important;
  width: 40px;
  height: 35px;
}

.owl-arrow-top-right .owl-nav button i {
  font-size: 23px;
}

.owl-arrow-top-right .owl-nav button:hover {
  background: var(--btn-hover-clr-1) !important;
  color: white !important;
}

.preloader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 9999;
}

ul .dropdown-menu.dropdown-menus {
  padding: 11px 20px;
  border: 0;
  text-align: left;
}

ul .dropdown-menu.dropdown-menus a {
  margin-left: 0;
  line-height: 24px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  color: black !important;
  padding: 0;
}

ul .dropdown-menu.dropdown-menus a:hover {
  background-color: transparent !important;
  color: red;
}

.my-toggler {
  border: 0 !important;
  background: transparent;
}

.my-toggler span {
  width: 25px;
  height: 2px;
  background-color: #222222;
  display: block;
}

.my-toggler span:nth-child(1) {
  margin: 3px auto;
}

.my-toggler span:nth-child(2) {
  width: 18px;
  margin-left: auto;
}

.nav-fixed {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  position: -webkit-sticky !important;
  position: sticky !important;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1041;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
  animation: slideInDown 1s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-animation: slideInDown 1s cubic-bezier(0.23, 1, 0.32, 1);
}

.ghost {
  z-index: -1;
}

.darkcircle {
  width: 55vw;
  height: 55vw;
  background: black;
  border-radius: 50%;
  position: absolute;
}
/*# sourceMappingURL=main.css.map */