@import url(../../vendor/css/fancybox/fancybox.css);
@import url(../css/snippet.css);

/* @font-face {
    font-family: 'circular-regular';
    src: url(../../vendor/fonts/CircularStd-Book.woff);
}

@font-face {
    font-family: 'circular-medium';
    src: url(../../vendor/fonts/CircularStd-Medium.woff);
} */

body {
    overflow-x: hidden !important;
    font-family: 'Lato', sans-serif !important;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-shadow: none;
    font-size: 15px;
    outline: none;
    /* margin: 0;
    padding: 0;
    border: 0; */
}

ul,
ol {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none;
}

a {
    text-decoration: none !important;
    transition: .5s;
}

section {
    padding: var(--section-padding);
    position: relative;
}

button:focus {
    outline: none !important;
    box-shadow: none !important;
}

p {
    color: #8a919c;
}


/*############################3
      Start font weight
 #########################3*/

.font-weight-300 {
    font-weight: 300;
}

.font-weight-400 {
    font-weight: 400;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-700 {
    font-weight: 700;
}

.font-weight-800 {
    font-weight: 800;
}

.font-weight-900 {
    font-weight: 900;
}


/*############################3
      End font weight
 #########################3*/


/*############################3
      start global bg color class
 #########################3*/

.bg-red {
    background: red;
}

.bg-fafafa {
    background: #fafafa
}

.bg-3a3a3a {
    background: #3a3a3a
}

.bg-fafcff {
    background: #fafcff;
}

.bg-3d3d3d {
    background: #3d3d3d
}

.bg-f1f2f7 {
    background: #f1f2f7
}

.bg-2a2a2a {
    background: #2a2a2a
}

.bg-f6f6f6 {
    background: #f6f6f6
}

.bg-eee {
    background: #eee
}

.bg-214d63 {
    background: #214d63
}

.bg-21325b {
    background: #21325b;
}

.bg-233D63 {
    background: #233D63
}

.bg-252831 {
    background: #252831
}

.bg-1D4354 {
    background: #1D4354
}

.bg-1a1a1a {
    background: #1a1a1a
}

.bg-f9f9fd {
    background: #f9f9fd
}

.bg-f3f4fa {
    background: #f3f4fa
}

.bg-31362F {
    background: #31362F
}


/*############################3
      start global bg color class
 #########################3*/


/*############################3
      start global text color class
 #########################3*/

.text-fafafa {
    color: #fafafa
}

.text-3a3a3a {
    color: #3a3a3a
}

.text-3d3d3d {
    color: #3d3d3d
}

.text-f1f2f7 {
    color: #f1f2f7
}

.text-2a2a2a {
    color: #2a2a2a
}

.text-f6f6f6 {
    color: #f6f6f6
}

.text-eee {
    color: #eee
}

.text-214d63 {
    color: #214d63
}

.text-233D63 {
    color: #233D63
}

.text-21325b {
    color: #21325b;
}

.text-252831 {
    color: #252831
}

.text-1D4354 {
    color: #1D4354
}

.text-1a1a1a {
    color: #1a1a1a
}

.text-f9f9fd {
    color: #f9f9fd
}

.text-f3f4fa {
    color: #f3f4fa
}


/*############################3
      start global text color class
 #########################3*/


/*############################3
      start global class
 #########################3*/

.overflow-x {
    overflow-x: hidden;
}

.text-3a3a3a {
    color: #3a3a3a;
}

.text-2a2a2a {
    color: #2a2a2a;
}

[background-multiply] {
    background-blend-mode: multiply;
}

.height-initial {
    height: initial;
}

.overlay-img-to {
    overflow: hidden;
    background: black;
}

.overlay-img-to img {
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    background-blend-mode: multiply;
}

.overlay-img-to img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    opacity: 0.4;
}

.overlay-img-from {
    overflow: hidden;
    background: black;
}

.overlay-img-from img {
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    background-blend-mode: multiply;
    opacity: 0.4;
}

.overlay-img-from img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    opacity: 1;
}

.border-radius-3px {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px
}

.border-radius-4px {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px
}

.border-radius-5px {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px
}

.border-radius-6px {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px
}

.border-radius-7px {
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px
}

.border-radius-8px {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px
}

.border-radius-9px {
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px
}

.border-radius-10px {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px
}

.border-radius-11px {
    border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px
}

.border-radius-12px {
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px
}

.border-radius-13px {
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px
}

.border-radius-14px {
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px
}

.border-radius-15px {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px
}

.border-radius-16px {
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px
}

.border-radius-17px {
    border-radius: 17px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px
}

.border-radius-18px {
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px
}

.border-radius-19px {
    border-radius: 19px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    -ms-border-radius: 19px;
    -o-border-radius: 19px
}

.border-radius-20px {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px
}

.border-radius-21px {
    border-radius: 21px;
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
    -ms-border-radius: 21px;
    -o-border-radius: 21px
}

.border-radius-22px {
    border-radius: 22px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    -o-border-radius: 22px
}

.border-radius-23px {
    border-radius: 23px;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    -ms-border-radius: 23px;
    -o-border-radius: 23px
}

.border-radius-24px {
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px
}

.border-radius-25px {
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px
}

.border-radius-26px {
    border-radius: 26px;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    -ms-border-radius: 26px;
    -o-border-radius: 26px
}

.border-radius-27px {
    border-radius: 27px;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    -ms-border-radius: 27px;
    -o-border-radius: 27px
}

.border-radius-28px {
    border-radius: 28px;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    -ms-border-radius: 28px;
    -o-border-radius: 28px
}

.border-radius-29px {
    border-radius: 29px;
    -webkit-border-radius: 29px;
    -moz-border-radius: 29px;
    -ms-border-radius: 29px;
    -o-border-radius: 29px
}

.border-radius-30px {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px
}

.border-radius-31px {
    border-radius: 31px;
    -webkit-border-radius: 31px;
    -moz-border-radius: 31px;
    -ms-border-radius: 31px;
    -o-border-radius: 31px
}

.border-radius-32px {
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px
}

.border-radius-33px {
    border-radius: 33px;
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    -ms-border-radius: 33px;
    -o-border-radius: 33px
}

.border-radius-34px {
    border-radius: 34px;
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    -ms-border-radius: 34px;
    -o-border-radius: 34px
}

.border-radius-35px {
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px
}

.border-radius-36px {
    border-radius: 36px;
    -webkit-border-radius: 36px;
    -moz-border-radius: 36px;
    -ms-border-radius: 36px;
    -o-border-radius: 36px
}

.border-radius-37px {
    border-radius: 37px;
    -webkit-border-radius: 37px;
    -moz-border-radius: 37px;
    -ms-border-radius: 37px;
    -o-border-radius: 37px
}

.border-radius-38px {
    border-radius: 38px;
    -webkit-border-radius: 38px;
    -moz-border-radius: 38px;
    -ms-border-radius: 38px;
    -o-border-radius: 38px
}

.border-radius-39px {
    border-radius: 39px;
    -webkit-border-radius: 39px;
    -moz-border-radius: 39px;
    -ms-border-radius: 39px;
    -o-border-radius: 39px
}

.border-radius-40px {
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px
}

.border-radius-41px {
    border-radius: 41px;
    -webkit-border-radius: 41px;
    -moz-border-radius: 41px;
    -ms-border-radius: 41px;
    -o-border-radius: 41px
}

.border-radius-42px {
    border-radius: 42px;
    -webkit-border-radius: 42px;
    -moz-border-radius: 42px;
    -ms-border-radius: 42px;
    -o-border-radius: 42px
}

.border-radius-43px {
    border-radius: 43px;
    -webkit-border-radius: 43px;
    -moz-border-radius: 43px;
    -ms-border-radius: 43px;
    -o-border-radius: 43px
}

.border-radius-44px {
    border-radius: 44px;
    -webkit-border-radius: 44px;
    -moz-border-radius: 44px;
    -ms-border-radius: 44px;
    -o-border-radius: 44px
}

.border-radius-45px {
    border-radius: 45px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    -ms-border-radius: 45px;
    -o-border-radius: 45px
}

.border-radius-46px {
    border-radius: 46px;
    -webkit-border-radius: 46px;
    -moz-border-radius: 46px;
    -ms-border-radius: 46px;
    -o-border-radius: 46px
}

.border-radius-47px {
    border-radius: 47px;
    -webkit-border-radius: 47px;
    -moz-border-radius: 47px;
    -ms-border-radius: 47px;
    -o-border-radius: 47px
}

.border-radius-48px {
    border-radius: 48px;
    -webkit-border-radius: 48px;
    -moz-border-radius: 48px;
    -ms-border-radius: 48px;
    -o-border-radius: 48px
}

.border-radius-49px {
    border-radius: 49px;
    -webkit-border-radius: 49px;
    -moz-border-radius: 49px;
    -ms-border-radius: 49px;
    -o-border-radius: 49px
}

.border-radius-50px {
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px
}

.height-30vh {
    height: 30vh;
}

.height-40vh {
    height: 40vh;
}

.height-50vh {
    height: 50vh;
}

.height-60vh {
    height: 60vh;
}

.height-70vh {
    height: 70vh;
}

.height-80vh {
    height: 80vh;
}

.height-90vh {
    height: 90vh;
}

.height-100vh {
    height: 100vh;
}

.height-10px {
    height: 10px
}

.height-15px {
    height: 15px
}

.height-20px {
    height: 20px
}

.height-25px {
    height: 25px
}

.height-30px {
    height: 30px
}

.height-35px {
    height: 35px
}

.height-40px {
    height: 40px
}

.height-45px {
    height: 45px
}

.height-50px {
    height: 50px
}

.height-55px {
    height: 55px
}

.height-60px {
    height: 60px
}

.height-65px {
    height: 65px
}

.height-70px {
    height: 70px
}

.height-75px {
    height: 75px
}

.height-80px {
    height: 80px
}

.height-85px {
    height: 85px
}

.height-90px {
    height: 90px
}

.height-95px {
    height: 95px
}

.height-100px {
    height: 100px
}

.height-105px {
    height: 105px
}

.height-110px {
    height: 110px
}

.height-115px {
    height: 115px
}

.height-120px {
    height: 120px
}

.height-125px {
    height: 125px
}

.height-130px {
    height: 130px
}

.height-135px {
    height: 135px
}

.height-140px {
    height: 140px
}

.height-145px {
    height: 145px
}

.height-150px {
    height: 150px
}

.height-155px {
    height: 155px
}

.height-160px {
    height: 160px
}

.height-165px {
    height: 165px
}

.height-170px {
    height: 170px
}

.height-175px {
    height: 175px
}

.height-180px {
    height: 180px
}

.height-185px {
    height: 185px
}

.height-190px {
    height: 190px
}

.height-195px {
    height: 195px
}

.height-200px {
    height: 200px
}

.height-205px {
    height: 205px
}

.height-210px {
    height: 210px
}

.height-215px {
    height: 215px
}

.height-220px {
    height: 220px
}

.height-225px {
    height: 225px
}

.height-230px {
    height: 230px
}

.height-235px {
    height: 235px
}

.height-240px {
    height: 240px
}

.height-245px {
    height: 245px
}

.height-250px {
    height: 250px
}

.height-255px {
    height: 255px
}

.height-260px {
    height: 260px
}

.height-265px {
    height: 265px
}

.height-270px {
    height: 270px
}

.height-275px {
    height: 275px
}

.height-280px {
    height: 280px
}

.height-285px {
    height: 285px
}

.height-290px {
    height: 290px
}

.height-295px {
    height: 295px
}

.height-300px {
    height: 300px
}

.height-305px {
    height: 305px
}

.height-310px {
    height: 310px
}

.height-315px {
    height: 315px
}

.height-320px {
    height: 320px
}

.height-325px {
    height: 325px
}

.height-330px {
    height: 330px
}

.height-335px {
    height: 335px
}

.height-340px {
    height: 340px
}

.height-345px {
    height: 345px
}

.height-350px {
    height: 350px
}

.height-355px {
    height: 355px
}

.height-360px {
    height: 360px
}

.height-365px {
    height: 365px
}

.height-370px {
    height: 370px
}

.height-375px {
    height: 375px
}

.height-380px {
    height: 380px
}

.height-385px {
    height: 385px
}

.height-390px {
    height: 390px
}

.height-395px {
    height: 395px
}

.height-400px {
    height: 400px
}

.font-10px {
    font-size: 10px
}

.font-11px {
    font-size: 11px
}

.font-12px {
    font-size: 12px
}

.font-13px {
    font-size: 13px
}

.font-14px {
    font-size: 14px
}

.font-15px {
    font-size: 15px
}

.font-16px {
    font-size: 16px
}

.font-17px {
    font-size: 17px
}

.font-18px {
    font-size: 18px
}

.font-19px {
    font-size: 19px
}

.font-20px {
    font-size: 20px
}

.font-21px {
    font-size: 21px
}

.font-22px {
    font-size: 22px
}

.font-23px {
    font-size: 23px
}

.font-24px {
    font-size: 24px
}

.font-25px {
    font-size: 25px
}

.font-26px {
    font-size: 26px
}

.font-27px {
    font-size: 27px
}

.font-28px {
    font-size: 28px
}

.font-29px {
    font-size: 29px
}

.font-30px {
    font-size: 30px
}

.font-31px {
    font-size: 31px
}

.font-32px {
    font-size: 32px
}

.font-33px {
    font-size: 33px
}

.font-34px {
    font-size: 34px
}

.font-35px {
    font-size: 35px
}

.font-36px {
    font-size: 36px
}

.font-37px {
    font-size: 37px
}

.font-38px {
    font-size: 38px
}

.font-39px {
    font-size: 39px
}

.font-40px {
    font-size: 40px
}

.font-41px {
    font-size: 41px
}

.font-42px {
    font-size: 42px
}

.font-43px {
    font-size: 43px
}

.font-44px {
    font-size: 44px
}

.font-45px {
    font-size: 45px
}

.font-46px {
    font-size: 46px
}

.font-47px {
    font-size: 47px
}

.font-48px {
    font-size: 48px
}

.font-49px {
    font-size: 49px
}

.font-50px {
    font-size: 50px
}

.font-51px {
    font-size: 51px
}

.font-52px {
    font-size: 52px
}

.font-53px {
    font-size: 53px
}

.font-54px {
    font-size: 54px
}

.font-55px {
    font-size: 55px
}

.font-56px {
    font-size: 56px
}

.font-57px {
    font-size: 57px
}

.font-58px {
    font-size: 58px
}

.font-59px {
    font-size: 59px
}

.font-60px {
    font-size: 60px
}

.font-61px {
    font-size: 61px
}

.font-62px {
    font-size: 62px
}

.font-63px {
    font-size: 63px
}

.font-64px {
    font-size: 64px
}

.font-65px {
    font-size: 65px
}

.font-66px {
    font-size: 66px
}

.font-67px {
    font-size: 67px
}

.font-68px {
    font-size: 68px
}

.font-69px {
    font-size: 69px
}

.font-70px {
    font-size: 70px
}

.font-71px {
    font-size: 71px
}

.font-72px {
    font-size: 72px
}

.font-73px {
    font-size: 73px
}

.font-74px {
    font-size: 74px
}

.font-75px {
    font-size: 75px
}

.font-76px {
    font-size: 76px
}

.font-77px {
    font-size: 77px
}

.font-78px {
    font-size: 78px
}

.font-79px {
    font-size: 79px
}

.font-80px {
    font-size: 80px
}

.font-81px {
    font-size: 81px
}

.font-82px {
    font-size: 82px
}

.font-83px {
    font-size: 83px
}

.font-84px {
    font-size: 84px
}

.font-85px {
    font-size: 85px
}

.font-86px {
    font-size: 86px
}

.font-87px {
    font-size: 87px
}

.font-88px {
    font-size: 88px
}

.font-89px {
    font-size: 89px
}

.font-90px {
    font-size: 90px
}

.font-91px {
    font-size: 91px
}

.font-92px {
    font-size: 92px
}

.font-93px {
    font-size: 93px
}

.font-94px {
    font-size: 94px
}

.font-95px {
    font-size: 95px
}

.font-96px {
    font-size: 96px
}

.font-97px {
    font-size: 97px
}

.font-98px {
    font-size: 98px
}

.font-99px {
    font-size: 99px
}

.font-100px {
    font-size: 100px
}

@media screen and (min-width: 576px) {
    .font-sm-10px {
        font-size: 10px
    }
    .font-sm-11px {
        font-size: 11px
    }
    .font-sm-12px {
        font-size: 12px
    }
    .font-sm-13px {
        font-size: 13px
    }
    .font-sm-14px {
        font-size: 14px
    }
    .font-sm-15px {
        font-size: 15px
    }
    .font-sm-16px {
        font-size: 16px
    }
    .font-sm-17px {
        font-size: 17px
    }
    .font-sm-18px {
        font-size: 18px
    }
    .font-sm-19px {
        font-size: 19px
    }
    .font-sm-20px {
        font-size: 20px
    }
    .font-sm-21px {
        font-size: 21px
    }
    .font-sm-22px {
        font-size: 22px
    }
    .font-sm-23px {
        font-size: 23px
    }
    .font-sm-24px {
        font-size: 24px
    }
    .font-sm-25px {
        font-size: 25px
    }
    .font-sm-26px {
        font-size: 26px
    }
    .font-sm-27px {
        font-size: 27px
    }
    .font-sm-28px {
        font-size: 28px
    }
    .font-sm-29px {
        font-size: 29px
    }
    .font-sm-30px {
        font-size: 30px
    }
    .font-sm-31px {
        font-size: 31px
    }
    .font-sm-32px {
        font-size: 32px
    }
    .font-sm-33px {
        font-size: 33px
    }
    .font-sm-34px {
        font-size: 34px
    }
    .font-sm-35px {
        font-size: 35px
    }
    .font-sm-36px {
        font-size: 36px
    }
    .font-sm-37px {
        font-size: 37px
    }
    .font-sm-38px {
        font-size: 38px
    }
    .font-sm-39px {
        font-size: 39px
    }
    .font-sm-40px {
        font-size: 40px
    }
    .font-sm-41px {
        font-size: 41px
    }
    .font-sm-42px {
        font-size: 42px
    }
    .font-sm-43px {
        font-size: 43px
    }
    .font-sm-44px {
        font-size: 44px
    }
    .font-sm-45px {
        font-size: 45px
    }
    .font-sm-46px {
        font-size: 46px
    }
    .font-sm-47px {
        font-size: 47px
    }
    .font-sm-48px {
        font-size: 48px
    }
    .font-sm-49px {
        font-size: 49px
    }
    .font-sm-50px {
        font-size: 50px
    }
    .font-sm-51px {
        font-size: 51px
    }
    .font-sm-52px {
        font-size: 52px
    }
    .font-sm-53px {
        font-size: 53px
    }
    .font-sm-54px {
        font-size: 54px
    }
    .font-sm-55px {
        font-size: 55px
    }
    .font-sm-56px {
        font-size: 56px
    }
    .font-sm-57px {
        font-size: 57px
    }
    .font-sm-58px {
        font-size: 58px
    }
    .font-sm-59px {
        font-size: 59px
    }
    .font-sm-60px {
        font-size: 60px
    }
    .font-sm-61px {
        font-size: 61px
    }
    .font-sm-62px {
        font-size: 62px
    }
    .font-sm-63px {
        font-size: 63px
    }
    .font-sm-64px {
        font-size: 64px
    }
    .font-sm-65px {
        font-size: 65px
    }
    .font-sm-66px {
        font-size: 66px
    }
    .font-sm-67px {
        font-size: 67px
    }
    .font-sm-68px {
        font-size: 68px
    }
    .font-sm-69px {
        font-size: 69px
    }
    .font-sm-70px {
        font-size: 70px
    }
    .font-sm-71px {
        font-size: 71px
    }
    .font-sm-72px {
        font-size: 72px
    }
    .font-sm-73px {
        font-size: 73px
    }
    .font-sm-74px {
        font-size: 74px
    }
    .font-sm-75px {
        font-size: 75px
    }
    .font-sm-76px {
        font-size: 76px
    }
    .font-sm-77px {
        font-size: 77px
    }
    .font-sm-78px {
        font-size: 78px
    }
    .font-sm-79px {
        font-size: 79px
    }
    .font-sm-80px {
        font-size: 80px
    }
    .font-sm-81px {
        font-size: 81px
    }
    .font-sm-82px {
        font-size: 82px
    }
    .font-sm-83px {
        font-size: 83px
    }
    .font-sm-84px {
        font-size: 84px
    }
    .font-sm-85px {
        font-size: 85px
    }
    .font-sm-86px {
        font-size: 86px
    }
    .font-sm-87px {
        font-size: 87px
    }
    .font-sm-88px {
        font-size: 88px
    }
    .font-sm-89px {
        font-size: 89px
    }
    .font-sm-90px {
        font-size: 90px
    }
    .font-sm-91px {
        font-size: 91px
    }
    .font-sm-92px {
        font-size: 92px
    }
    .font-sm-93px {
        font-size: 93px
    }
    .font-sm-94px {
        font-size: 94px
    }
    .font-sm-95px {
        font-size: 95px
    }
    .font-sm-96px {
        font-size: 96px
    }
    .font-sm-97px {
        font-size: 97px
    }
    .font-sm-98px {
        font-size: 98px
    }
    .font-sm-99px {
        font-size: 99px
    }
    .font-sm-100px {
        font-size: 100px
    }
    .height-sm-30vh {
        height: 30vh;
    }
    .height-sm-40vh {
        height: 40vh;
    }
    .height-sm-50vh {
        height: 50vh;
    }
    .height-sm-60vh {
        height: 60vh;
    }
    .height-sm-70vh {
        height: 70vh;
    }
    .height-sm-80vh {
        height: 80vh;
    }
    .height-sm-90vh {
        height: 90vh;
    }
    .height-sm-100vh {
        height: 100vh;
    }
    .height-sm-10px {
        height: 10px
    }
    .height-sm-15px {
        height: 15px
    }
    .height-sm-20px {
        height: 20px
    }
    .height-sm-25px {
        height: 25px
    }
    .height-sm-30px {
        height: 30px
    }
    .height-sm-35px {
        height: 35px
    }
    .height-sm-40px {
        height: 40px
    }
    .height-sm-45px {
        height: 45px
    }
    .height-sm-50px {
        height: 50px
    }
    .height-sm-55px {
        height: 55px
    }
    .height-sm-60px {
        height: 60px
    }
    .height-sm-65px {
        height: 65px
    }
    .height-sm-70px {
        height: 70px
    }
    .height-sm-75px {
        height: 75px
    }
    .height-sm-80px {
        height: 80px
    }
    .height-sm-85px {
        height: 85px
    }
    .height-sm-90px {
        height: 90px
    }
    .height-sm-95px {
        height: 95px
    }
    .height-sm-100px {
        height: 100px
    }
    .height-sm-105px {
        height: 105px
    }
    .height-sm-110px {
        height: 110px
    }
    .height-sm-115px {
        height: 115px
    }
    .height-sm-120px {
        height: 120px
    }
    .height-sm-125px {
        height: 125px
    }
    .height-sm-130px {
        height: 130px
    }
    .height-sm-135px {
        height: 135px
    }
    .height-sm-140px {
        height: 140px
    }
    .height-sm-145px {
        height: 145px
    }
    .height-sm-150px {
        height: 150px
    }
    .height-sm-155px {
        height: 155px
    }
    .height-sm-160px {
        height: 160px
    }
    .height-sm-165px {
        height: 165px
    }
    .height-sm-170px {
        height: 170px
    }
    .height-sm-175px {
        height: 175px
    }
    .height-sm-180px {
        height: 180px
    }
    .height-sm-185px {
        height: 185px
    }
    .height-sm-190px {
        height: 190px
    }
    .height-sm-195px {
        height: 195px
    }
    .height-sm-200px {
        height: 200px
    }
    .height-sm-205px {
        height: 205px
    }
    .height-sm-210px {
        height: 210px
    }
    .height-sm-215px {
        height: 215px
    }
    .height-sm-220px {
        height: 220px
    }
    .height-sm-225px {
        height: 225px
    }
    .height-sm-230px {
        height: 230px
    }
    .height-sm-235px {
        height: 235px
    }
    .height-sm-240px {
        height: 240px
    }
    .height-sm-245px {
        height: 245px
    }
    .height-sm-250px {
        height: 250px
    }
    .height-sm-255px {
        height: 255px
    }
    .height-sm-260px {
        height: 260px
    }
    .height-sm-265px {
        height: 265px
    }
    .height-sm-270px {
        height: 270px
    }
    .height-sm-275px {
        height: 275px
    }
    .height-sm-280px {
        height: 280px
    }
    .height-sm-285px {
        height: 285px
    }
    .height-sm-290px {
        height: 290px
    }
    .height-sm-295px {
        height: 295px
    }
    .height-sm-300px {
        height: 300px
    }
    .height-sm-305px {
        height: 305px
    }
    .height-sm-310px {
        height: 310px
    }
    .height-sm-315px {
        height: 315px
    }
    .height-sm-320px {
        height: 320px
    }
    .height-sm-325px {
        height: 325px
    }
    .height-sm-330px {
        height: 330px
    }
    .height-sm-335px {
        height: 335px
    }
    .height-sm-340px {
        height: 340px
    }
    .height-sm-345px {
        height: 345px
    }
    .height-sm-350px {
        height: 350px
    }
    .height-sm-355px {
        height: 355px
    }
    .height-sm-360px {
        height: 360px
    }
    .height-sm-365px {
        height: 365px
    }
    .height-sm-370px {
        height: 370px
    }
    .height-sm-375px {
        height: 375px
    }
    .height-sm-380px {
        height: 380px
    }
    .height-sm-385px {
        height: 385px
    }
    .height-sm-390px {
        height: 390px
    }
    .height-sm-395px {
        height: 395px
    }
    .height-sm-400px {
        height: 400px
    }
}

@media screen and (min-width: 768px) {
    .font-md-10px {
        font-size: 10px
    }
    .font-md-11px {
        font-size: 11px
    }
    .font-md-12px {
        font-size: 12px
    }
    .font-md-13px {
        font-size: 13px
    }
    .font-md-14px {
        font-size: 14px
    }
    .font-md-15px {
        font-size: 15px
    }
    .font-md-16px {
        font-size: 16px
    }
    .font-md-17px {
        font-size: 17px
    }
    .font-md-18px {
        font-size: 18px
    }
    .font-md-19px {
        font-size: 19px
    }
    .font-md-20px {
        font-size: 20px
    }
    .font-md-21px {
        font-size: 21px
    }
    .font-md-22px {
        font-size: 22px
    }
    .font-md-23px {
        font-size: 23px
    }
    .font-md-24px {
        font-size: 24px
    }
    .font-md-25px {
        font-size: 25px
    }
    .font-md-26px {
        font-size: 26px
    }
    .font-md-27px {
        font-size: 27px
    }
    .font-md-28px {
        font-size: 28px
    }
    .font-md-29px {
        font-size: 29px
    }
    .font-md-30px {
        font-size: 30px
    }
    .font-md-31px {
        font-size: 31px
    }
    .font-md-32px {
        font-size: 32px
    }
    .font-md-33px {
        font-size: 33px
    }
    .font-md-34px {
        font-size: 34px
    }
    .font-md-35px {
        font-size: 35px
    }
    .font-md-36px {
        font-size: 36px
    }
    .font-md-37px {
        font-size: 37px
    }
    .font-md-38px {
        font-size: 38px
    }
    .font-md-39px {
        font-size: 39px
    }
    .font-md-40px {
        font-size: 40px
    }
    .font-md-41px {
        font-size: 41px
    }
    .font-md-42px {
        font-size: 42px
    }
    .font-md-43px {
        font-size: 43px
    }
    .font-md-44px {
        font-size: 44px
    }
    .font-md-45px {
        font-size: 45px
    }
    .font-md-46px {
        font-size: 46px
    }
    .font-md-47px {
        font-size: 47px
    }
    .font-md-48px {
        font-size: 48px
    }
    .font-md-49px {
        font-size: 49px
    }
    .font-md-50px {
        font-size: 50px
    }
    .font-md-51px {
        font-size: 51px
    }
    .font-md-52px {
        font-size: 52px
    }
    .font-md-53px {
        font-size: 53px
    }
    .font-md-54px {
        font-size: 54px
    }
    .font-md-55px {
        font-size: 55px
    }
    .font-md-56px {
        font-size: 56px
    }
    .font-md-57px {
        font-size: 57px
    }
    .font-md-58px {
        font-size: 58px
    }
    .font-md-59px {
        font-size: 59px
    }
    .font-md-60px {
        font-size: 60px
    }
    .font-md-61px {
        font-size: 61px
    }
    .font-md-62px {
        font-size: 62px
    }
    .font-md-63px {
        font-size: 63px
    }
    .font-md-64px {
        font-size: 64px
    }
    .font-md-65px {
        font-size: 65px
    }
    .font-md-66px {
        font-size: 66px
    }
    .font-md-67px {
        font-size: 67px
    }
    .font-md-68px {
        font-size: 68px
    }
    .font-md-69px {
        font-size: 69px
    }
    .font-md-70px {
        font-size: 70px
    }
    .font-md-71px {
        font-size: 71px
    }
    .font-md-72px {
        font-size: 72px
    }
    .font-md-73px {
        font-size: 73px
    }
    .font-md-74px {
        font-size: 74px
    }
    .font-md-75px {
        font-size: 75px
    }
    .font-md-76px {
        font-size: 76px
    }
    .font-md-77px {
        font-size: 77px
    }
    .font-md-78px {
        font-size: 78px
    }
    .font-md-79px {
        font-size: 79px
    }
    .font-md-80px {
        font-size: 80px
    }
    .font-md-81px {
        font-size: 81px
    }
    .font-md-82px {
        font-size: 82px
    }
    .font-md-83px {
        font-size: 83px
    }
    .font-md-84px {
        font-size: 84px
    }
    .font-md-85px {
        font-size: 85px
    }
    .font-md-86px {
        font-size: 86px
    }
    .font-md-87px {
        font-size: 87px
    }
    .font-md-88px {
        font-size: 88px
    }
    .font-md-89px {
        font-size: 89px
    }
    .font-md-90px {
        font-size: 90px
    }
    .font-md-91px {
        font-size: 91px
    }
    .font-md-92px {
        font-size: 92px
    }
    .font-md-93px {
        font-size: 93px
    }
    .font-md-94px {
        font-size: 94px
    }
    .font-md-95px {
        font-size: 95px
    }
    .font-md-96px {
        font-size: 96px
    }
    .font-md-97px {
        font-size: 97px
    }
    .font-md-98px {
        font-size: 98px
    }
    .font-md-99px {
        font-size: 99px
    }
    .font-md-100px {
        font-size: 100px
    }
    .height-md-30vh {
        height: 30vh;
    }
    .height-md-40vh {
        height: 40vh;
    }
    .height-md-50vh {
        height: 50vh;
    }
    .height-md-60vh {
        height: 60vh;
    }
    .height-md-70vh {
        height: 70vh;
    }
    .height-md-80vh {
        height: 80vh;
    }
    .height-md-90vh {
        height: 90vh;
    }
    .height-md-100vh {
        height: 100vh;
    }
    .height-md-10px {
        height: 10px
    }
    .height-md-15px {
        height: 15px
    }
    .height-md-20px {
        height: 20px
    }
    .height-md-25px {
        height: 25px
    }
    .height-md-30px {
        height: 30px
    }
    .height-md-35px {
        height: 35px
    }
    .height-md-40px {
        height: 40px
    }
    .height-md-45px {
        height: 45px
    }
    .height-md-50px {
        height: 50px
    }
    .height-md-55px {
        height: 55px
    }
    .height-md-60px {
        height: 60px
    }
    .height-md-65px {
        height: 65px
    }
    .height-md-70px {
        height: 70px
    }
    .height-md-75px {
        height: 75px
    }
    .height-md-80px {
        height: 80px
    }
    .height-md-85px {
        height: 85px
    }
    .height-md-90px {
        height: 90px
    }
    .height-md-95px {
        height: 95px
    }
    .height-md-100px {
        height: 100px
    }
    .height-md-105px {
        height: 105px
    }
    .height-md-110px {
        height: 110px
    }
    .height-md-115px {
        height: 115px
    }
    .height-md-120px {
        height: 120px
    }
    .height-md-125px {
        height: 125px
    }
    .height-md-130px {
        height: 130px
    }
    .height-md-135px {
        height: 135px
    }
    .height-md-140px {
        height: 140px
    }
    .height-md-145px {
        height: 145px
    }
    .height-md-150px {
        height: 150px
    }
    .height-md-155px {
        height: 155px
    }
    .height-md-160px {
        height: 160px
    }
    .height-md-165px {
        height: 165px
    }
    .height-md-170px {
        height: 170px
    }
    .height-md-175px {
        height: 175px
    }
    .height-md-180px {
        height: 180px
    }
    .height-md-185px {
        height: 185px
    }
    .height-md-190px {
        height: 190px
    }
    .height-md-195px {
        height: 195px
    }
    .height-md-200px {
        height: 200px
    }
    .height-md-205px {
        height: 205px
    }
    .height-md-210px {
        height: 210px
    }
    .height-md-215px {
        height: 215px
    }
    .height-md-220px {
        height: 220px
    }
    .height-md-225px {
        height: 225px
    }
    .height-md-230px {
        height: 230px
    }
    .height-md-235px {
        height: 235px
    }
    .height-md-240px {
        height: 240px
    }
    .height-md-245px {
        height: 245px
    }
    .height-md-250px {
        height: 250px
    }
    .height-md-255px {
        height: 255px
    }
    .height-md-260px {
        height: 260px
    }
    .height-md-265px {
        height: 265px
    }
    .height-md-270px {
        height: 270px
    }
    .height-md-275px {
        height: 275px
    }
    .height-md-280px {
        height: 280px
    }
    .height-md-285px {
        height: 285px
    }
    .height-md-290px {
        height: 290px
    }
    .height-md-295px {
        height: 295px
    }
    .height-md-300px {
        height: 300px
    }
    .height-md-305px {
        height: 305px
    }
    .height-md-310px {
        height: 310px
    }
    .height-md-315px {
        height: 315px
    }
    .height-md-320px {
        height: 320px
    }
    .height-md-325px {
        height: 325px
    }
    .height-md-330px {
        height: 330px
    }
    .height-md-335px {
        height: 335px
    }
    .height-md-340px {
        height: 340px
    }
    .height-md-345px {
        height: 345px
    }
    .height-md-350px {
        height: 350px
    }
    .height-md-355px {
        height: 355px
    }
    .height-md-360px {
        height: 360px
    }
    .height-md-365px {
        height: 365px
    }
    .height-md-370px {
        height: 370px
    }
    .height-md-375px {
        height: 375px
    }
    .height-md-380px {
        height: 380px
    }
    .height-md-385px {
        height: 385px
    }
    .height-md-390px {
        height: 390px
    }
    .height-md-395px {
        height: 395px
    }
    .height-md-400px {
        height: 400px
    }
}

@media screen and (min-width: 992px) {
    .font-lg-10px {
        font-size: 10px
    }
    .font-lg-11px {
        font-size: 11px
    }
    .font-lg-12px {
        font-size: 12px
    }
    .font-lg-13px {
        font-size: 13px
    }
    .font-lg-14px {
        font-size: 14px
    }
    .font-lg-15px {
        font-size: 15px
    }
    .font-lg-16px {
        font-size: 16px
    }
    .font-lg-17px {
        font-size: 17px
    }
    .font-lg-18px {
        font-size: 18px
    }
    .font-lg-19px {
        font-size: 19px
    }
    .font-lg-20px {
        font-size: 20px
    }
    .font-lg-21px {
        font-size: 21px
    }
    .font-lg-22px {
        font-size: 22px
    }
    .font-lg-23px {
        font-size: 23px
    }
    .font-lg-24px {
        font-size: 24px
    }
    .font-lg-25px {
        font-size: 25px
    }
    .font-lg-26px {
        font-size: 26px
    }
    .font-lg-27px {
        font-size: 27px
    }
    .font-lg-28px {
        font-size: 28px
    }
    .font-lg-29px {
        font-size: 29px
    }
    .font-lg-30px {
        font-size: 30px
    }
    .font-lg-31px {
        font-size: 31px
    }
    .font-lg-32px {
        font-size: 32px
    }
    .font-lg-33px {
        font-size: 33px
    }
    .font-lg-34px {
        font-size: 34px
    }
    .font-lg-35px {
        font-size: 35px
    }
    .font-lg-36px {
        font-size: 36px
    }
    .font-lg-37px {
        font-size: 37px
    }
    .font-lg-38px {
        font-size: 38px
    }
    .font-lg-39px {
        font-size: 39px
    }
    .font-lg-40px {
        font-size: 40px
    }
    .font-lg-41px {
        font-size: 41px
    }
    .font-lg-42px {
        font-size: 42px
    }
    .font-lg-43px {
        font-size: 43px
    }
    .font-lg-44px {
        font-size: 44px
    }
    .font-lg-45px {
        font-size: 45px
    }
    .font-lg-46px {
        font-size: 46px
    }
    .font-lg-47px {
        font-size: 47px
    }
    .font-lg-48px {
        font-size: 48px
    }
    .font-lg-49px {
        font-size: 49px
    }
    .font-lg-50px {
        font-size: 50px
    }
    .font-lg-51px {
        font-size: 51px
    }
    .font-lg-52px {
        font-size: 52px
    }
    .font-lg-53px {
        font-size: 53px
    }
    .font-lg-54px {
        font-size: 54px
    }
    .font-lg-55px {
        font-size: 55px
    }
    .font-lg-56px {
        font-size: 56px
    }
    .font-lg-57px {
        font-size: 57px
    }
    .font-lg-58px {
        font-size: 58px
    }
    .font-lg-59px {
        font-size: 59px
    }
    .font-lg-60px {
        font-size: 60px
    }
    .font-lg-61px {
        font-size: 61px
    }
    .font-lg-62px {
        font-size: 62px
    }
    .font-lg-63px {
        font-size: 63px
    }
    .font-lg-64px {
        font-size: 64px
    }
    .font-lg-65px {
        font-size: 65px
    }
    .font-lg-66px {
        font-size: 66px
    }
    .font-lg-67px {
        font-size: 67px
    }
    .font-lg-68px {
        font-size: 68px
    }
    .font-lg-69px {
        font-size: 69px
    }
    .font-lg-70px {
        font-size: 70px
    }
    .font-lg-71px {
        font-size: 71px
    }
    .font-lg-72px {
        font-size: 72px
    }
    .font-lg-73px {
        font-size: 73px
    }
    .font-lg-74px {
        font-size: 74px
    }
    .font-lg-75px {
        font-size: 75px
    }
    .font-lg-76px {
        font-size: 76px
    }
    .font-lg-77px {
        font-size: 77px
    }
    .font-lg-78px {
        font-size: 78px
    }
    .font-lg-79px {
        font-size: 79px
    }
    .font-lg-80px {
        font-size: 80px
    }
    .font-lg-81px {
        font-size: 81px
    }
    .font-lg-82px {
        font-size: 82px
    }
    .font-lg-83px {
        font-size: 83px
    }
    .font-lg-84px {
        font-size: 84px
    }
    .font-lg-85px {
        font-size: 85px
    }
    .font-lg-86px {
        font-size: 86px
    }
    .font-lg-87px {
        font-size: 87px
    }
    .font-lg-88px {
        font-size: 88px
    }
    .font-lg-89px {
        font-size: 89px
    }
    .font-lg-90px {
        font-size: 90px
    }
    .font-lg-91px {
        font-size: 91px
    }
    .font-lg-92px {
        font-size: 92px
    }
    .font-lg-93px {
        font-size: 93px
    }
    .font-lg-94px {
        font-size: 94px
    }
    .font-lg-95px {
        font-size: 95px
    }
    .font-lg-96px {
        font-size: 96px
    }
    .font-lg-97px {
        font-size: 97px
    }
    .font-lg-98px {
        font-size: 98px
    }
    .font-lg-99px {
        font-size: 99px
    }
    .font-lg-100px {
        font-size: 100px
    }
    .height-lg-30vh {
        height: 30vh;
    }
    .height-lg-40vh {
        height: 40vh;
    }
    .height-lg-50vh {
        height: 50vh;
    }
    .height-lg-60vh {
        height: 60vh;
    }
    .height-lg-70vh {
        height: 70vh;
    }
    .height-lg-80vh {
        height: 80vh;
    }
    .height-lg-90vh {
        height: 90vh;
    }
    .height-lg-100vh {
        height: 100vh;
    }
    .height-lg-10px {
        height: 10px
    }
    .height-lg-15px {
        height: 15px
    }
    .height-lg-20px {
        height: 20px
    }
    .height-lg-25px {
        height: 25px
    }
    .height-lg-30px {
        height: 30px
    }
    .height-lg-35px {
        height: 35px
    }
    .height-lg-40px {
        height: 40px
    }
    .height-lg-45px {
        height: 45px
    }
    .height-lg-50px {
        height: 50px
    }
    .height-lg-55px {
        height: 55px
    }
    .height-lg-60px {
        height: 60px
    }
    .height-lg-65px {
        height: 65px
    }
    .height-lg-70px {
        height: 70px
    }
    .height-lg-75px {
        height: 75px
    }
    .height-lg-80px {
        height: 80px
    }
    .height-lg-85px {
        height: 85px
    }
    .height-lg-90px {
        height: 90px
    }
    .height-lg-95px {
        height: 95px
    }
    .height-lg-100px {
        height: 100px
    }
    .height-lg-105px {
        height: 105px
    }
    .height-lg-110px {
        height: 110px
    }
    .height-lg-115px {
        height: 115px
    }
    .height-lg-120px {
        height: 120px
    }
    .height-lg-125px {
        height: 125px
    }
    .height-lg-130px {
        height: 130px
    }
    .height-lg-135px {
        height: 135px
    }
    .height-lg-140px {
        height: 140px
    }
    .height-lg-145px {
        height: 145px
    }
    .height-lg-150px {
        height: 150px
    }
    .height-lg-155px {
        height: 155px
    }
    .height-lg-160px {
        height: 160px
    }
    .height-lg-165px {
        height: 165px
    }
    .height-lg-170px {
        height: 170px
    }
    .height-lg-175px {
        height: 175px
    }
    .height-lg-180px {
        height: 180px
    }
    .height-lg-185px {
        height: 185px
    }
    .height-lg-190px {
        height: 190px
    }
    .height-lg-195px {
        height: 195px
    }
    .height-lg-200px {
        height: 200px
    }
    .height-lg-205px {
        height: 205px
    }
    .height-lg-210px {
        height: 210px
    }
    .height-lg-215px {
        height: 215px
    }
    .height-lg-220px {
        height: 220px
    }
    .height-lg-225px {
        height: 225px
    }
    .height-lg-230px {
        height: 230px
    }
    .height-lg-235px {
        height: 235px
    }
    .height-lg-240px {
        height: 240px
    }
    .height-lg-245px {
        height: 245px
    }
    .height-lg-250px {
        height: 250px
    }
    .height-lg-255px {
        height: 255px
    }
    .height-lg-260px {
        height: 260px
    }
    .height-lg-265px {
        height: 265px
    }
    .height-lg-270px {
        height: 270px
    }
    .height-lg-275px {
        height: 275px
    }
    .height-lg-280px {
        height: 280px
    }
    .height-lg-285px {
        height: 285px
    }
    .height-lg-290px {
        height: 290px
    }
    .height-lg-295px {
        height: 295px
    }
    .height-lg-300px {
        height: 300px
    }
    .height-lg-305px {
        height: 305px
    }
    .height-lg-310px {
        height: 310px
    }
    .height-lg-315px {
        height: 315px
    }
    .height-lg-320px {
        height: 320px
    }
    .height-lg-325px {
        height: 325px
    }
    .height-lg-330px {
        height: 330px
    }
    .height-lg-335px {
        height: 335px
    }
    .height-lg-340px {
        height: 340px
    }
    .height-lg-345px {
        height: 345px
    }
    .height-lg-350px {
        height: 350px
    }
    .height-lg-355px {
        height: 355px
    }
    .height-lg-360px {
        height: 360px
    }
    .height-lg-365px {
        height: 365px
    }
    .height-lg-370px {
        height: 370px
    }
    .height-lg-375px {
        height: 375px
    }
    .height-lg-380px {
        height: 380px
    }
    .height-lg-385px {
        height: 385px
    }
    .height-lg-390px {
        height: 390px
    }
    .height-lg-395px {
        height: 395px
    }
    .height-lg-400px {
        height: 400px
    }
}

@media screen and (min-width: 1200px) {
    .font-xl-10px {
        font-size: 10px
    }
    .font-xl-11px {
        font-size: 11px
    }
    .font-xl-12px {
        font-size: 12px
    }
    .font-xl-13px {
        font-size: 13px
    }
    .font-xl-14px {
        font-size: 14px
    }
    .font-xl-15px {
        font-size: 15px
    }
    .font-xl-16px {
        font-size: 16px
    }
    .font-xl-17px {
        font-size: 17px
    }
    .font-xl-18px {
        font-size: 18px
    }
    .font-xl-19px {
        font-size: 19px
    }
    .font-xl-20px {
        font-size: 20px
    }
    .font-xl-21px {
        font-size: 21px
    }
    .font-xl-22px {
        font-size: 22px
    }
    .font-xl-23px {
        font-size: 23px
    }
    .font-xl-24px {
        font-size: 24px
    }
    .font-xl-25px {
        font-size: 25px
    }
    .font-xl-26px {
        font-size: 26px
    }
    .font-xl-27px {
        font-size: 27px
    }
    .font-xl-28px {
        font-size: 28px
    }
    .font-xl-29px {
        font-size: 29px
    }
    .font-xl-30px {
        font-size: 30px
    }
    .font-xl-31px {
        font-size: 31px
    }
    .font-xl-32px {
        font-size: 32px
    }
    .font-xl-33px {
        font-size: 33px
    }
    .font-xl-34px {
        font-size: 34px
    }
    .font-xl-35px {
        font-size: 35px
    }
    .font-xl-36px {
        font-size: 36px
    }
    .font-xl-37px {
        font-size: 37px
    }
    .font-xl-38px {
        font-size: 38px
    }
    .font-xl-39px {
        font-size: 39px
    }
    .font-xl-40px {
        font-size: 40px
    }
    .font-xl-41px {
        font-size: 41px
    }
    .font-xl-42px {
        font-size: 42px
    }
    .font-xl-43px {
        font-size: 43px
    }
    .font-xl-44px {
        font-size: 44px
    }
    .font-xl-45px {
        font-size: 45px
    }
    .font-xl-46px {
        font-size: 46px
    }
    .font-xl-47px {
        font-size: 47px
    }
    .font-xl-48px {
        font-size: 48px
    }
    .font-xl-49px {
        font-size: 49px
    }
    .font-xl-50px {
        font-size: 50px
    }
    .font-xl-51px {
        font-size: 51px
    }
    .font-xl-52px {
        font-size: 52px
    }
    .font-xl-53px {
        font-size: 53px
    }
    .font-xl-54px {
        font-size: 54px
    }
    .font-xl-55px {
        font-size: 55px
    }
    .font-xl-56px {
        font-size: 56px
    }
    .font-xl-57px {
        font-size: 57px
    }
    .font-xl-58px {
        font-size: 58px
    }
    .font-xl-59px {
        font-size: 59px
    }
    .font-xl-60px {
        font-size: 60px
    }
    .font-xl-61px {
        font-size: 61px
    }
    .font-xl-62px {
        font-size: 62px
    }
    .font-xl-63px {
        font-size: 63px
    }
    .font-xl-64px {
        font-size: 64px
    }
    .font-xl-65px {
        font-size: 65px
    }
    .font-xl-66px {
        font-size: 66px
    }
    .font-xl-67px {
        font-size: 67px
    }
    .font-xl-68px {
        font-size: 68px
    }
    .font-xl-69px {
        font-size: 69px
    }
    .font-xl-70px {
        font-size: 70px
    }
    .font-xl-71px {
        font-size: 71px
    }
    .font-xl-72px {
        font-size: 72px
    }
    .font-xl-73px {
        font-size: 73px
    }
    .font-xl-74px {
        font-size: 74px
    }
    .font-xl-75px {
        font-size: 75px
    }
    .font-xl-76px {
        font-size: 76px
    }
    .font-xl-77px {
        font-size: 77px
    }
    .font-xl-78px {
        font-size: 78px
    }
    .font-xl-79px {
        font-size: 79px
    }
    .font-xl-80px {
        font-size: 80px
    }
    .font-xl-81px {
        font-size: 81px
    }
    .font-xl-82px {
        font-size: 82px
    }
    .font-xl-83px {
        font-size: 83px
    }
    .font-xl-84px {
        font-size: 84px
    }
    .font-xl-85px {
        font-size: 85px
    }
    .font-xl-86px {
        font-size: 86px
    }
    .font-xl-87px {
        font-size: 87px
    }
    .font-xl-88px {
        font-size: 88px
    }
    .font-xl-89px {
        font-size: 89px
    }
    .font-xl-90px {
        font-size: 90px
    }
    .font-xl-91px {
        font-size: 91px
    }
    .font-xl-92px {
        font-size: 92px
    }
    .font-xl-93px {
        font-size: 93px
    }
    .font-xl-94px {
        font-size: 94px
    }
    .font-xl-95px {
        font-size: 95px
    }
    .font-xl-96px {
        font-size: 96px
    }
    .font-xl-97px {
        font-size: 97px
    }
    .font-xl-98px {
        font-size: 98px
    }
    .font-xl-99px {
        font-size: 99px
    }
    .font-xl-100px {
        font-size: 100px
    }
    .height-xl-30vh {
        height: 30vh;
    }
    .height-xl-40vh {
        height: 40vh;
    }
    .height-xl-50vh {
        height: 50vh;
    }
    .height-xl-60vh {
        height: 60vh;
    }
    .height-xl-70vh {
        height: 70vh;
    }
    .height-xl-80vh {
        height: 80vh;
    }
    .height-xl-90vh {
        height: 90vh;
    }
    .height-xl-100vh {
        height: 100vh;
    }
    .height-xl-10px {
        height: 10px
    }
    .height-xl-15px {
        height: 15px
    }
    .height-xl-20px {
        height: 20px
    }
    .height-xl-25px {
        height: 25px
    }
    .height-xl-30px {
        height: 30px
    }
    .height-xl-35px {
        height: 35px
    }
    .height-xl-40px {
        height: 40px
    }
    .height-xl-45px {
        height: 45px
    }
    .height-xl-50px {
        height: 50px
    }
    .height-xl-55px {
        height: 55px
    }
    .height-xl-60px {
        height: 60px
    }
    .height-xl-65px {
        height: 65px
    }
    .height-xl-70px {
        height: 70px
    }
    .height-xl-75px {
        height: 75px
    }
    .height-xl-80px {
        height: 80px
    }
    .height-xl-85px {
        height: 85px
    }
    .height-xl-90px {
        height: 90px
    }
    .height-xl-95px {
        height: 95px
    }
    .height-xl-100px {
        height: 100px
    }
    .height-xl-105px {
        height: 105px
    }
    .height-xl-110px {
        height: 110px
    }
    .height-xl-115px {
        height: 115px
    }
    .height-xl-120px {
        height: 120px
    }
    .height-xl-125px {
        height: 125px
    }
    .height-xl-130px {
        height: 130px
    }
    .height-xl-135px {
        height: 135px
    }
    .height-xl-140px {
        height: 140px
    }
    .height-xl-145px {
        height: 145px
    }
    .height-xl-150px {
        height: 150px
    }
    .height-xl-155px {
        height: 155px
    }
    .height-xl-160px {
        height: 160px
    }
    .height-xl-165px {
        height: 165px
    }
    .height-xl-170px {
        height: 170px
    }
    .height-xl-175px {
        height: 175px
    }
    .height-xl-180px {
        height: 180px
    }
    .height-xl-185px {
        height: 185px
    }
    .height-xl-190px {
        height: 190px
    }
    .height-xl-195px {
        height: 195px
    }
    .height-xl-200px {
        height: 200px
    }
    .height-xl-205px {
        height: 205px
    }
    .height-xl-210px {
        height: 210px
    }
    .height-xl-215px {
        height: 215px
    }
    .height-xl-220px {
        height: 220px
    }
    .height-xl-225px {
        height: 225px
    }
    .height-xl-230px {
        height: 230px
    }
    .height-xl-235px {
        height: 235px
    }
    .height-xl-240px {
        height: 240px
    }
    .height-xl-245px {
        height: 245px
    }
    .height-xl-250px {
        height: 250px
    }
    .height-xl-255px {
        height: 255px
    }
    .height-xl-260px {
        height: 260px
    }
    .height-xl-265px {
        height: 265px
    }
    .height-xl-270px {
        height: 270px
    }
    .height-xl-275px {
        height: 275px
    }
    .height-xl-280px {
        height: 280px
    }
    .height-xl-285px {
        height: 285px
    }
    .height-xl-290px {
        height: 290px
    }
    .height-xl-295px {
        height: 295px
    }
    .height-xl-300px {
        height: 300px
    }
    .height-xl-305px {
        height: 305px
    }
    .height-xl-310px {
        height: 310px
    }
    .height-xl-315px {
        height: 315px
    }
    .height-xl-320px {
        height: 320px
    }
    .height-xl-325px {
        height: 325px
    }
    .height-xl-330px {
        height: 330px
    }
    .height-xl-335px {
        height: 335px
    }
    .height-xl-340px {
        height: 340px
    }
    .height-xl-345px {
        height: 345px
    }
    .height-xl-350px {
        height: 350px
    }
    .height-xl-355px {
        height: 355px
    }
    .height-xl-360px {
        height: 360px
    }
    .height-xl-365px {
        height: 365px
    }
    .height-xl-370px {
        height: 370px
    }
    .height-xl-375px {
        height: 375px
    }
    .height-xl-380px {
        height: 380px
    }
    .height-xl-385px {
        height: 385px
    }
    .height-xl-390px {
        height: 390px
    }
    .height-xl-395px {
        height: 395px
    }
    .height-xl-400px {
        height: 400px
    }
}

.width-10 {
    width: 10%
}

.width-15 {
    width: 15%
}

.width-20 {
    width: 20%
}

.width-25 {
    width: 25%
}

.width-30 {
    width: 30%
}

.width-35 {
    width: 35%
}

.width-40 {
    width: 40%
}

.width-45 {
    width: 45%
}

.width-50 {
    width: 50%
}

.width-55 {
    width: 55%
}

.width-60 {
    width: 60%
}

.width-65 {
    width: 65%
}

.width-70 {
    width: 70%
}

.width-75 {
    width: 75%
}

.width-80 {
    width: 80%
}

.width-85 {
    width: 85%
}

.width-90 {
    width: 90%
}

.width-95 {
    width: 95%
}

.width-100 {
    width: 100%
}

@media screen and (min-width: 576px) {
    .width-sm-10 {
        width: 10%
    }
    .width-sm-15 {
        width: 15%
    }
    .width-sm-20 {
        width: 20%
    }
    .width-sm-25 {
        width: 25%
    }
    .width-sm-30 {
        width: 30%
    }
    .width-sm-35 {
        width: 35%
    }
    .width-sm-40 {
        width: 40%
    }
    .width-sm-45 {
        width: 45%
    }
    .width-sm-50 {
        width: 50%
    }
    .width-sm-55 {
        width: 55%
    }
    .width-sm-60 {
        width: 60%
    }
    .width-sm-65 {
        width: 65%
    }
    .width-sm-70 {
        width: 70%
    }
    .width-sm-75 {
        width: 75%
    }
    .width-sm-80 {
        width: 80%
    }
    .width-sm-85 {
        width: 85%
    }
    .width-sm-90 {
        width: 90%
    }
    .width-sm-95 {
        width: 95%
    }
    .width-sm-100 {
        width: 100%
    }
}

@media screen and (min-width: 768px) {
    .width-md-10 {
        width: 10%
    }
    .width-md-15 {
        width: 15%
    }
    .width-md-20 {
        width: 20%
    }
    .width-md-25 {
        width: 25%
    }
    .width-md-30 {
        width: 30%
    }
    .width-md-35 {
        width: 35%
    }
    .width-md-40 {
        width: 40%
    }
    .width-md-45 {
        width: 45%
    }
    .width-md-50 {
        width: 50%
    }
    .width-md-55 {
        width: 55%
    }
    .width-md-60 {
        width: 60%
    }
    .width-md-65 {
        width: 65%
    }
    .width-md-70 {
        width: 70%
    }
    .width-md-75 {
        width: 75%
    }
    .width-md-80 {
        width: 80%
    }
    .width-md-85 {
        width: 85%
    }
    .width-md-90 {
        width: 90%
    }
    .width-md-95 {
        width: 95%
    }
    .width-md-100 {
        width: 100%
    }
}

@media screen and (min-width: 992px) {
    .width-lg-10 {
        width: 10%
    }
    .width-lg-15 {
        width: 15%
    }
    .width-lg-20 {
        width: 20%
    }
    .width-lg-25 {
        width: 25%
    }
    .width-lg-30 {
        width: 30%
    }
    .width-lg-35 {
        width: 35%
    }
    .width-lg-40 {
        width: 40%
    }
    .width-lg-45 {
        width: 45%
    }
    .width-lg-50 {
        width: 50%
    }
    .width-lg-55 {
        width: 55%
    }
    .width-lg-60 {
        width: 60%
    }
    .width-lg-65 {
        width: 65%
    }
    .width-lg-70 {
        width: 70%
    }
    .width-lg-75 {
        width: 75%
    }
    .width-lg-80 {
        width: 80%
    }
    .width-lg-85 {
        width: 85%
    }
    .width-lg-90 {
        width: 90%
    }
    .width-lg-95 {
        width: 95%
    }
    .width-lg-100 {
        width: 100%
    }
}

@media screen and (min-width: 1200px) {
    .width-xl-10 {
        width: 10%
    }
    .width-xl-15 {
        width: 15%
    }
    .width-xl-20 {
        width: 20%
    }
    .width-xl-25 {
        width: 25%
    }
    .width-xl-30 {
        width: 30%
    }
    .width-xl-35 {
        width: 35%
    }
    .width-xl-40 {
        width: 40%
    }
    .width-xl-45 {
        width: 45%
    }
    .width-xl-50 {
        width: 50%
    }
    .width-xl-55 {
        width: 55%
    }
    .width-xl-60 {
        width: 60%
    }
    .width-xl-65 {
        width: 65%
    }
    .width-xl-70 {
        width: 70%
    }
    .width-xl-75 {
        width: 75%
    }
    .width-xl-80 {
        width: 80%
    }
    .width-xl-85 {
        width: 85%
    }
    .width-xl-90 {
        width: 90%
    }
    .width-xl-95 {
        width: 95%
    }
    .width-xl-100 {
        width: 100%
    }
}